html, body, h1, h3, ul, ol {
  margin: 0;
  padding: 0; 
  scroll-behavior: smooth;
}
h1, h2, h3, p, a {
  color: white
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
body {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.main-title{
  font-family: "Exo 2", sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.title{
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.text, a{
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #2C2727;
}
.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}
.nav-item {
  text-align: end;
  margin-bottom: 5px;
}
.nav-item a:hover {
  color: #D9D9D9;
}
.lang {
  display: none;
}
.lang.en {
  display: block;
}
.lang-active .lang.pl {
  display: block;
}

.lang-active .lang.en {
  display: none;
}

.language-selector {
  display: flex;
}
.lang-button {
  margin: 5px;
  background-color: transparent;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  font-weight: 300;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.lang-button.active{
  color: #5E5959;
}
.liner{
  border-left: solid 2px white;
}
@media (max-width: 365px) {
  .nav-link {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .nav {
    margin-left: auto;
    padding-right: 10px;
  }
}
@media (min-width: 768px) {
  .nav-list {
    display: flex;
  }
  .nav-item {
    margin-right: 25px;
    margin-left: 25px;
  }
}
@media (min-width: 1024px) {
  .logo-img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .nav-link {
    font-size: 18px;
  }
  .lang-button {
    font-size: 18px;
  }
}

/* MAIN CONTENT */
main {
  background-color: #fafafa;
  padding-top: 74px;
}
.section {
  padding: 10px;
  text-align: center;
  scroll-margin-top: 74px;
}
.content {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media(min-width: 1024px) {
  main {
    padding-top: 94px;
  }
  .section {
    scroll-margin-top: 94px;
  }
}

/* HERO SECTION */
.hero {
  background: linear-gradient(to top left, #07643C, #00421D);
}
.hero-container {
  display: grid;
  grid-template-columns: 1fr;
}
.hero-image {
  border-radius: 55px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
  width: 300px;
}
.hero-link-block {
  display: flex;
  justify-content: center;
}
.hero-stores{
  display: flex;
  flex-direction: column;
}
.hero-link{
  height: 45px;
  margin-top: 10px;
}
.hero-code{
  height: 134px;
  border-radius: 12px;
  margin-left: 50px;
  margin-bottom: 4px;
}
@media (max-width: 1023px) {
  .hero-content, .hero-image {
    text-align: center;
  }
  .hero-image-container {
    display: flex;
    justify-content: center;
  }
  .hero-image{
    margin-top: 0px;
    width: 230px;
    border-radius: 40px;
  }
  .hero-link-block {
    margin-top: 10px;
  }
  .hero-code {
    display: none;
  }
}
@media (min-width: 1024px) {
  .hero-container {
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    gap: 20px;
  }
  .hero-content{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .hero-content h1 {
    margin-top: 100px;
  }
  .hero-link-block {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 50px;
  }
  .hero-image-container {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
}


/* ABOUT SECTION */
.about {
  padding: 20px;
  height: 100vh;
  background: linear-gradient(to top left, #181313, #2C2727);
}
/* ROLE SECTION */
.role {
  background: linear-gradient(to top left, #07643C, #00421D);
}
.role-selector{
  display: flex;
  margin-top: 30px; 
}
.button{
  width: calc(50% - 10px);
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(to top, #181313, #2C2727);
  border: none;
  border-radius: 10px;
  
}
.button:hover{
  background: linear-gradient(to bottom, #524c4c, #1b1919);
}
.button.active{
  background: linear-gradient(to bottom, #524c4c, #1b1919);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
}
.role-content {
  display: none;
  padding: 30px;
  height: calc(100vh - 300px);
}
.role-content.active{
  display: block;  
}
@media (min-width: 1024px) {
  .role-block {
    display: flex;
  }
  .role-selector {
    flex-direction: column;
    width: 20%;
  }
  .button {
    width: calc(100% - 20px);
    margin-top: 30px;
  }
}

/* ROLE - PLAYER */
.role-content{
  text-align: left;
}
/* ROLE - ORGANIZER */
.player-content {
  margin-bottom: 30px;
}
.contact-form{
  margin-top: 10px;
}
.form-input {
  border: none;
  border-bottom: 1px solid #181313;
  padding: 8px 0;
  margin-bottom: 10px;
  width: 100%;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s;
  background-color: transparent;
  color: white;
}
.form-input:focus {
  border-bottom: 2px solid #5E5959;
}
.loader {
  border: 5px solid #5E5959;
  border-top: 5px solid #013921;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 30px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* BANNER SECTION */
.banner {
  /* background: linear-gradient(to bottom left, #181313, #5E5959); */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.banner h3 {
  color: #181313;
}
.banner-logo{
  width: 70%;
}
.banner-link-block {
  display: flex;
  justify-content: center;
}
@media(min-width: 767px) {
  .banner-logo {
    width: 400px;
  }
  .banner-stores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .banner-links {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .banner-logo {
    margin-right: 100px;
  }
}
/* FOOTER */
.footer {
  background-color: #2C2727;
}
.footer .content {
  display: flex;
  justify-content: baseline;
  padding: 20px;
}
.link::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../assets/img/link.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;
  filter: invert(1);
}
.footer-block{
  width: 50%;
  text-align: start;
}
.right{
  text-align: end;
}
