html, body, h1, h3 {
  margin: 0;
  padding: 0; 
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to bottom right, #D9D9D9, #005631);
}
.logo {
  display: flex;
  align-items: center; 
}
.logo-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.logo-name {
  font-size: 20px;
  font-weight: bold;
  color: #005631;
}
.menu {
  display: flex;
  align-items: center;
}
.menu img {
  margin-left: auto;
}
.nav {
  display: flex;
  align-items: flex-end;
  width: 100%; 
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-item {
  text-align: end;
  margin-top: 5px;
  margin-bottom: 5px;
}
.nav-item a {
  text-decoration: none;
  color: #005631;
  font-size: 16px;
}
.nav-item a:hover {
  color: #D9D9D9;
}
.lang {
  display: none;
}
.lang.en {
  display: block;
}
.lang-active .lang.pl {
  display: block;
}

.lang-active .lang.en {
  display: none;
}

.language-selector {
  margin-left: 20px;
}
.lang-button {
  margin: 5px;
  padding: 10px;
  background-color: #005631;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.lang-button:hover {
  background-color: #004a28;
}

/* MAIN CONTENT */
main {
  padding: 20px;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}
.section {
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

/* HERO SECTION */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: blur(2px);
}
.hero-content, .hero-image {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
}
.hero-image{
  margin-top: 50px;
}
.hero-title{
  color: green;
  font-family: Exo 2;
  font-size: 34px;
  font-weight: 600;
}
.hero-text{
  color: green;
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 400;
}
.hero-image {
  border-radius: 50px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
  max-width: 300px;
  height: auto;
}

/* ABOUT SECTION */
.about {
  padding: 20px;
  height: 100vh;
  background: linear-gradient(to bottom, #00421D, #07643C);
}
.about-title{
  color: white;
  font-family: Exo 2;
  font-size: 28px;
  font-weight: 300;
  line-height: 38.4px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.about-text{
  color: white;
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 300;
  line-height: 38.4px;
}
/* ROLE SECTION */
.role {
  height: 100vh;
  background-image: url('../assets/img/soccer-field.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden
}
.role-selector{
  display: flex;  
}
.role-button{
  width: calc(50% - 10px);
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 300;
  line-height: 38.4px;
  background: linear-gradient(to bottom, #989898, #013a22);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.5);
}
.role-button:hover{
  background: linear-gradient(to top, #989898, #01160d06);
}
.role-content {
  display: none;
  padding: 50px;
  margin-top: 50px;
  height: calc(100vh - 300px);
  background: linear-gradient(to top, #989898, #013a22);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.role-content.active{
  display: block;  
}
.role-text{
  color: white;
}
/* BANNER SECTION */
.banner {
  background: linear-gradient(to top, #00421D, #07643C);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.banner-title{
  font-family: Exo 2;
  font-size: 24px;
  font-weight: 400;
  line-height: 38.4px;
  color: white;
}
.banner-logo{
  width: 70%;
}
.banner-link {
  margin-top: 20px;
}
.footer {
  display: flex;
  justify-content: baseline;
  background-color: black;
  padding: 20px;
  color: #fff;
}
.link::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../assets/img/link.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;
  filter: invert(1);
}
.footer-block{
  width: 50%;
}
.right{
  text-align: end;
}
